---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/projects.astro";
import About from "@/components/about.astro";
---

<Layout title="Salomón Ruiz Navarrete">
  <!-- <section class="md:mx-50"> -->
    <Hero />
    <About />
    <Projects />
  <!-- </section> -->
</Layout>
