---
import Bento from "@/sections/Bento.astro"

---
<section class="flex flex-col items-center m-20">
  <section class="mb-20">
    <h1 class="text-3xl">Sobre mi...</h1>
  </section>
  <Bento />
</section>