<section class="flex flex-col items-center m-20">
  <div class=" mb-20">
    <h1 class="text-3xl">Sobre mi...</h1>
  </div>
  <div class="max-w-5xl border-2 rounded-2xl p-20">
    <p class="text-2xl">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus iusto provident iste non et corporis, optio, quisquam eaque distinctio suscipit sit quia. Repudiandae illum asperiores laboriosam vitae at nostrum necessitatibus!
    </p>
  </div>
</section>
