---
import { type Project } from "@/content/config";

interface Props {
  project: Project;
}

const { project } = Astro.props;

---

<div class="col-span-3 lg:col-span-1 rounded-xl bg-red-950 p-4">
  <picture class="flex flex-col align-middle items-center m-5">
    <img src=`https://picsum.photos/300/200?random=${Math.random()}` alt="" />
  </picture>
  <a href=`project/${project.data.title.replaceAll(" ", "")}`> 
    <h3 class="text-center m-5 text-3xl truncate">{project.data.title}</h3>
  </a>
  <p class="m-5">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur nam
    explicabo aliquid suscipit ad autem provident laborum. Inventore
    necessitatibus vitae nobis officiis eveniet consequuntur reiciendis,
    sapiente delectus cum obcaecati ullam?
  </p>
  <div class="flex flex-wrap">
    {project.data.technologies.map((name) => {
      return <h4 class="mx-2 col-span-1 bg-violet-950 rounded-2xl p-2 mb-2">{name}</h4>
    })}
  </div>
</div>
