---
import Carousel from "@/sections/Carousel.astro";
---

<section class="flex flex-col items-center m-20 overflow-hidden">
  <h1 class="text-3xl mb-30">Tecnologias...</h1>
  <Carousel />
</section>
