---
import Bentoitem from "@/sections/BentoItem.astro";

const bentoInfo = {
  me_content: "Soy una",
  school_content:
    "Titulado en <strong>Tecnología en Desarrollo de Software</strong> y estudiante de <strong>Ingenieria de Software</strong>, beneficiario del programa <strong>Misión TIC 2022</strong>. Poseo certificados en AWS",
  goals_content:
    "Mi aspiración, tanto como persona y como desarrollador, es seguir mejorando en todos los aspectos, tanto como soft-skills y hard-skills, y convertirme en un ingeniero totalmente capacitado en la mayoría de las áreas del sector TIC.",
  knowledge_content:
    "En mis distintos proyectos que he realizado como desarrollador he implementado estandares como principios SOLID, patrones de diseño, protocolo WebSocket, desarrollo y consumo de API'S REST, registro de logs para apps back-end y autenticacion por JWT. A día de hoy sigo estudiando para ampliar mis habilidades, principalmente acerca del front-end web.",
};
---

<div class="grid grid-cols-10 gap-4 w-full max-w-[1200px] xl:auto-rows-[20rem]">
  <Bentoitem
    title="Yo..."
    content={bentoInfo.me_content}
    styles="col-span-10 lg:col-span-6 rounded-xl bg-black p-4"
  />
  <Bentoitem
    title="Estudios..."
    content={bentoInfo.school_content}
    styles="col-span-10 lg:col-span-4 rounded-xl bg-green-950 p-4"
  />
  <Bentoitem
    title="Metas..."
    content={bentoInfo.goals_content}
    styles="col-span-10 lg:col-span-4 rounded-xl bg-amber-950 p-4"
  />
  <Bentoitem
    title="Conocimiento..."
    content={bentoInfo.knowledge_content}
    styles="col-span-10 lg:col-span-6 rounded-xl bg-red-950 p-4"
  />
</div>
